Options +FollowSymLinks

<IfModule mod_rewrite.c>
	RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([a-zA-Z0-9-]+)/?$ index.php?page=$1
	RewriteRule ^([a-zA-Z0-9-]+)/([a-zA-Z0-9\/_-]+)/?$ index.php?page=$1&p=$2
</IfModule>

ErrorDocument 400 /index.php?page=error&p=400
ErrorDocument 401 /index.php?page=error&p=401
ErrorDocument 403 /index.php?page=error&p=403
ErrorDocument 404 /index.php?page=error&p=404
ErrorDocument 405 /index.php?page=error&p=405
ErrorDocument 408 /index.php?page=error&p=408
ErrorDocument 414 /index.php?page=error&p=414
ErrorDocument 500 /index.php?page=error&p=500
ErrorDocument 502 /index.php?page=error&p=502
ErrorDocument 504 /index.php?page=error&p=504