#current {
    padding: 0px 10px 0px 10px;
    border: 2px solid #B0B0B0;
    border-radius: 7px;
}

#current_warper {
    padding: 0px 20px 0px 20px;
    margin: 5px 0px 0px 0px;
    float: left;
    width: 30%;
}
#current_warper h2 {
    text-align: center;
}

#container_warper {
    width: 70%;
}


#current ul {
    padding: 0px;
    list-style: none;
}

#current ul li {
    margin-top: 6px;
}
#current ul li img {
    max-width: 200px;
}

#current ul li a {
    color: black;
    text-decoration: underline;
}
#current ul li a:link {
    color: black;
    text-decoration: underline;
}
#current ul li a:visited {
    color: black;
    text-decoration: underline;
}
#current ul li a:active {
    color: black;
    text-decoration: underline;
}

#current ul li p {
    padding-left: 15px;
}

#secondcontainer {
    position: relative;
    width: 100%;
    margin: 10px 0px 0px 0px;
   // box-shadow: 0px 0.5px 4px 0.25px rgba(0, 0, 0, 0.3);
    padding: 10px;
    float: left;
}

#secondcontainerinfo {
    position: relative;
    left: 20px;
    float: left;
}